

html,body {
    background-color: aquamarine;
}

#fun {
    background-color: blue;
    text-align: center;
}

#one {
    background-color: red;
}

#two {
    background-color: green;
}

#three {
    background-color: purple;
}